*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    background: url(/assets/img-background.jpg);
    background-size: cover;
    background-position: center;
}
form{
    background-color: #1c7d1c;
    margin-left: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    height: 100vh;
    text-align: center;
}
h1{
    padding: 2rem;
    font-size: 1.4rem;
}
h1,
h5{
    color: #fff;
}
form input{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}
img{
    max-width: 2rem;
}
.btn-login button{
    width: 100%;
    margin: 1rem 0px 10px 0px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #000000;
    cursor: pointer;
}
.btn-login button:hover{
    width: 100%;
    margin: 1rem 0px 10px 0px;
    font-size: 1rem;
    border: 1px solid #7171f1;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #7171f1;
}
.btn-login-midia{
    padding: 1rem 0px 1rem 0px;
}
.btn-login-midia button{
    border: none;
    border-radius: 4px;
    width: 5.5rem;
    cursor: pointer;
}
.btn-login-midia button:hover{
    border: 1px solid black;
    border-radius: 4px;
    width: 5.5rem;
    cursor: pointer;
}
.new-account button{
    width: 50%;
    margin: 2rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #000000;
    cursor: pointer;
}
.new-account button:hover{
    width: 50%;
    margin: 2rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #7171f1;
    cursor: pointer;
}
a{
    text-decoration: none;
    text-align: end;
    font-size: 12px;
    margin-bottom: 1rem;
}
hr{
    border:1px solid gray;
}
@media (max-width: 550px){
    form{
        margin: 0 auto;
    }
}